<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Boilerplate - blog post
  screenshotPath: ../images/template-previews/blog-post.png
-->
{% set template_css = '../../css/templates/blog.css' %}
{% extends './layouts/base.html' %}

{% block body %}


<!-- module html  -->
<header style="background: url( {{ content.featured_image  }} ) no-repeat top center fixed  rgb(15 4 220 / 72%); background-size: cover;   background-blend-mode: multiply;"
class="h-64  p-10 object-cover w-full relative">

    <div class="container mx-auto">
    
        <h1 class="text-center text-4xl m-0 absolute top-2/4 left-1/2 text-white" style="transform: translate(-50%, -50%)"> 
        {{ content.name }}
         </span> 
        </h1>

    </div>

</header>


<div class="container mx-auto pt-20">

  <div class="content-wrapper">
    <article class="blog-post">

      <!-- post meta : date / author -->
      <div class="blog-post__meta md:w-7/12 mx-auto mb-4">
        <time datetime="{{ content.publish_date }}" class="blog-post__timestamp">
          {{ content.publish_date_localized }}
        </time>
      </div>
      <!-- post meta : date / author -->


      <div class="blog-post__body  md:w-7/12 mx-auto ">
        {{ content.post_body }}
      </div>
      {% if content.tag_list %}
        <div class="blog-post__tags">
          {% icon
            name='tag',
            purpose='decorative',
            style='SOLID'
          %}
          {% for tag in content.tag_list %}
            <a class="blog-post__tag-link" href="{{ blog_tag_url(group.id, tag.slug) }}" rel="tag">{{ tag.name }}</a>{% if not loop.last %},{% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </article>
    

    <!-- About the Author -->
    <section class="border p-2 grid grid-cols-1 md:grid-cols-4 md:w-6/12 mx-auto ">

      <div  class="h-32 rounded-full w-32 m-auto" style="background: url( {{ content.blog_post_author.avatar }} ) no-repeat center center; background-size: cover;"></div>

      <div class="col-span-3">
        <p class="text-xl font-bold">{{content.blog_post_author.displayName}}</p>
        <p>{{content.blog_post_author.bio}}</p>
      </div>

    </section>
    <!-- About the Author -->



    {% if group.allow_comments %}
      <div class="blog-comments mt-10 md:w-4/12 mx-auto " >
        {% module 'blog_comments'
          path='@hubspot/blog_comments',
          label="Blog comments"
        %}
      </div>
    {% endif %}
  </div>

  {# Recent posts listing #}

  {# This macro is used to format each recent post card and gets passed to the related_blog_posts HubL tag below #}

  {% macro related_posts(post, count, total) %}
    {% if count == 1 %}
      <section class="blog-related-posts">
        <div class="content-wrapper">
          <h2>Read On</h2>
          <div class="blog-related-posts__list">
    {% endif %}
            <article class="blog-related-posts__post" aria-label="Blog post summary: {{ post.name }}">
              {% if post.featured_image %}
                <a class="blog-related-posts__post-image-wrapper" href="{{ post.absolute_url }}" aria-label="{% if post.featured_image_alt_text %} Featured image: {{ post.featured_image_alt_text }} - {% endif %}Read full post: {{ post.name }}">
                  <img class="blog-related-posts__image" src="{{ post.featured_image }}" loading="lazy" width="352" alt="{{ post.featured_image_alt_text }}">
                </a>
              {% endif %}
              <div class="blog-related-posts__content">
                <h3 class="blog-related-posts__title">
                  <a class="blog-related-posts__title-link" href="{{ post.absolute_url }}">{{ post.name }}</a></h3>
                {{ post.post_summary|truncatehtml(100) }}
              </div>
            </article>
      {% if count == total %}
          </div>
        </div>
      </section>
    {% endif %}
  {% endmacro %}




  <section class="grid grid-cols-1 md:grid-cols-3 gap-4 p-10 pt-20 container mx-auto">
  
  {% set rec_posts = blog_recent_posts('default', 3) %}

    {% for rec_post in rec_posts %}
    
      <a href="{{rec_post.url}}" class="mb-4 sm:mb-0"> 
        <article class="border">
          <div 
            class="img-container" 
            style="background-image: url( {{ rec_post.postFeaturedImageIfEnabled  }} );  background-size: cover;"
          class="h-64 bg-center bg-no-repeat object-cover">
          </div>
          <div class="article-container sm:h-auto h-64  p-5">
            <div class="text-xl font-bold">{{ rec_post.name }}</div>
            <p>{{rec_post.postSummary}}</p>
          </div>
        </article>
      </a>
    
    {% endfor %}
  
  </section>


</div>
{% endblock body %}
